html {
	font-family: Tahoma, sans-serif;
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 10px;
}
/*--------------------------------*/
.button {background-image: linear-gradient(#42A1EC, #0070C9);
	margin-top:8px;
	border: 1px solid #0077CC;
	border-radius: 3px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.47059;
	overflow: visible;
	padding: 8px 16px;
	text-align: center;
	white-space: nowrap;
}
.button:hover {
	background-image: linear-gradient(#3B6EBA, #1F5EB7);
	border-color: #1482D0;
}
.button:active {
	background-image: linear-gradient(#2633E2, #1256BC);
	border-color: #0E5DA3;
	outline: none;
}
.pin {
	width: 480px;
	margin-top: 50px;
	background: #ddd;
}
.spot {
	padding-left: 20px;
	border-bottom: 1px dotted #777;
	line-height: 40px;

}